:root {
  --background-color: #222831;
  --primary-color: #eeeeee;
  --secondary--color: #00adb5;
  --third--color: #393e46;
  --placeholder--color: ;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.title {
  width: 15rem;
  margin: 1rem auto;
}

.search-bar {
  background-color: var(--third--color);
  border-radius: 0.5rem;
  width: min(50rem, 80vw);
  display: flex;
  padding: 0.3rem;
  margin: 1rem auto;
}

.search-bar input {
  background-color: transparent;
  border: none;
  width: 90%;
  color: var(--primary-color);
  outline: none;
  font-family: "Inter", sans-serif;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.search-bar input::placeholder {
  color: var(--primary-color);
  opacity: 0.8;
  font-weight: 300;
}

.search-bar button {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.search-bar button:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-color) 10%,
    var(--third--color) 90%
  );
  border-radius: 100%;
}

.add_button {
  width: 10rem;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--third--color);
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.2rem;
  transform: rotateZ(5deg);
  font-family: "Inter", sans-serif;
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

.add_button:hover {
  animation: none;
  transform: rotateZ(0deg);
}
.add_button:active {
  opacity: 0.9;
  transform: translateY(-5px);
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-5px) rotateZ(5deg);
  }
  100% {
    transform: translateY(5px) rotateZ(5deg);
  }
}

.notes-container .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
  padding: 0 min(3rem, 5%);
  margin-bottom: 4rem;
}

.notes-container h1 {
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
}

.notes-container p {
  padding: 0 min(4rem, 8%);
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
  opacity: 0.6;
  font-size: 0.85rem;
  font-weight: 300;
}

.note-card {
  background-color: #1a4d2e;
  border-radius: 0.5rem;
  padding: 0.9rem 1.4rem 0.2rem 1.2rem;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-card h3 {
  background-color: transparent;
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.note-card h3[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  opacity: 0.8;
  font-weight: 400;
}

.note-card p {
  margin: 1rem 0 0.5rem 0;
  opacity: 1;
  padding: 0.2rem;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  width: 100%;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.note-card p[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  opacity: 0.8;
  font-weight: 300;
}

.note-card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-top: auto;
}

.note-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  color: var(--primary-color);
  opacity: 0.8;
}

.note-card button:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-color) 10%,
    var(--third--color) 90%
  );
  border-radius: 100%;
}

.note-card .colors-container {
  position: absolute;
  background-color: var(--background-color);
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: 1px 1px 5px rgb(31, 28, 28);
  left: 0;
  right: 0;
  width: auto;
  z-index: 1;
}

.note-card .colors-container button {
  margin: 0rem 0.2rem;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.note-card .colors-container button:hover {
  border: 0.15rem solid var(--primary-color);
}

.note-card .colors-container input {
  background-color: transparent;
  margin: 0rem 0.2rem;
  height: 2rem;
  width: 2rem;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 576px) {
  html {
    font-size: 14.5px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13.5px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}
